.loading-screen {
  text-align: center;
  padding: 50px;
}

.spinner .loader {
  border: 16px solid #f3f3f3; /* Fondo del círculo */
  border-top: 16px solid #3498db; /* Color del borde superior */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
