/* Pantalla de carga */
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #e0f2f1;
  font-family: 'Roboto Mono', monospace;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #00796b;
  margin-bottom: 30px;
}

/* Barra de progreso */
.progress-bar {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.progress {
  height: 100%;
  background-color: #00796b;
  transition: width 0.02s linear;
}
