/* Contenedor principal para la página de resultados de predicción */
.resultpredict-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #e0f2f1; /* Fondo gris suave */
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 65px;
}

h1, h2 {
  color: #00796b; /* Azulverdoso */
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

h2.predict-title {
  font-size: 1.5rem;
}

/* Estilo para mostrar métricas */
.resultpredict-container p {
  color: #333;
  font-size: 1.1rem;
  margin: 5px 0;
}

/* Contenedor principal para la tabla */
.table-container {
  width: 100%;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

/* Tabla de resultados */
table {
  min-width: 600px; /* Ancho mínimo para la tabla */
  max-width: 100%; /* Limita el ancho para que se ajuste al contenedor */
  margin: 0 auto; /* Centra la tabla dentro del contenedor */
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Estilo para la cabecera de la tabla */
table thead {
  background-color: #00796b;
  color: white;
}

/* Ajuste del padding y tamaño de texto en las celdas */
table th {
  padding: 8px 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #f1f1f1;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
}

table td {
  padding: 8px 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  white-space: nowrap; /* Evita que el texto se desborde */
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  color: #00796b;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #00796b;
  transition: background-color 0.3s ease;
}

.pagination li a:hover {
  background-color: #004d40;
  color: #ffffff;
}

.pagination .active a {
  background-color: #004d40;
  color: white;
  border-color: #004d40;
}

/* Botón para volver al inicio */
.button-home {
  margin: 20px 0;
  padding: 12px 20px;
  background-color: #00796b;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.button-home:hover {
  background-color: #004d40;
}

/* Pie de página */
.footer {
  margin-top: auto; /* Empuja el footer al final */
  width: 100%;
  background-color: #00796b;  /* Azulverdoso */
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  border-top: 1px solid #e0e0e0;
}


.footer p {
  margin: 0;
  font-size: 1rem;
  color: white; /* Asegura que los párrafos también tengan el color blanco */
}

/* Responsividad */
@media (max-width: 768px) {
  .resultpredict-container {
    padding: 20px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2.predict-title {
    font-size: 1.3rem;
  }

  table th,
  table td {
    font-size: 0.9rem;
    padding: 8px 10px;
  }

  .button-home {
    font-size: 1rem;
  }
}
