/* Variables de diseño */
:root {
  --main-bg-color: #e0f2f1;
  --header-bg-color: #00796b;
  --text-color: #ffffff;
  --card-hover-bg-color: #00796b;
  --card-hover-text-color: #ffffff;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --font-family: 'Roboto Mono', monospace;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  padding: 0px;
  font-family: var(--font-family);
}

/* Encabezado */
.header {
  width: 100%;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--card-shadow);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
}

/* Título de configuración */
.title {
  font-size: 2rem;
  color: var(--header-bg-color);
  text-align: center;
  margin: 40px 0;
  font-weight: 700;
}

/* Formulario */
.formGroupHorizontal {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.formGroupHorizontal label {
  font-size: 1rem;
  color: #333;
  margin-right: 10px;
  width: 150px;
}

.inputField,
.inputSelect {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 400px;
  max-width: 400px;
}

.inputField:focus,
.inputSelect:focus {
  outline: none;
  border-color: var(--header-bg-color);
}

/* Botón de carga centrado */
.uploadButtonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.uploadButtonContainer button {
  font-size: 1.1rem;
  padding: 12px 24px;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadButtonContainer button:hover {
  background-color: #005d54;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  border-radius: 8px;
  z-index: 1000;
  text-align: center;
  width: 300px;
}

.popupSuccess {
  background-color: var(--header-bg-color);
}

.popupError {
  background-color: red;
}

/* Botón de Continuar centrado */
.continueButton {
  display: block;
  margin: 30px auto;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-family);
}

.continueButton:hover {
  background-color: #005d54;
}

/* Pie de página */
.footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--header-bg-color);
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
  border-top: 1px solid #e0e0e0;
}

.footer p {
  margin: 0;
}

/* Responsividad */
@media (max-width: 768px) {

  .formGroupHorizontal {
    flex-direction: column;
    align-items: flex-start;
  }

  .formGroupHorizontal label {
    width: auto;
    margin-bottom: 5px;
  }

  .uploadButtonContainer button,
  .continueButton {
    width: 100%;
    max-width: 400px;
  }
}
